@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}
:root{
    --red: #F06849;
    --gray: #ccc;
}

#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3rem;
    box-shadow: 0 0.1rem 0.5rem var(--gray);
}

#navigation ul{
    display: flex;
    gap: 4.5rem;
}

#logo{
    font-weight: 700;
    color: var(--red);
    font-size: 1.7rem;
}

.menu-item:hover{
    color: var(--red);
    cursor: pointer;
}

#menu{
    display: none;
}

.menu-bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 22%;
    background-color: black;
    margin: 5px auto;
}

box-icon{
    cursor: pointer;
}
